@using System.Data
@using System.Collections
@using FIXED_ASSET.DTO
@using System.Data
@using System.Collections

@{
    ViewBag.Title = "Classification";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ViewClassificationDTO> ClassificationGridList = new List<ViewClassificationDTO>();


    if (ViewBag.ClassificationGridList != null)
    {
        ClassificationGridList = ViewBag.ClassificationGridList;
    }
}


<link href="~/Content/css/select2.css" rel="stylesheet" />
<script src="~/Content/js/select2.full.min.js"></script>
<link href="~/Content/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Content/js/jquery.dataTables.min.js"></script>
<script src="~/Content/js/dataTables.bootstrap.min.js"></script>

<style type="text/css">

    div.addnew {
        display: none
    }

    html {
        overflow-y: scroll;
    }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Classification</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="center-block col-md-6" style="float: none;">    </div>
    <div class="box box-primary addnew">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Title</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-primary bg-blue-gradient hide-form">Hide</button>
            </div>
        </div>

        <form role="form"></form>
        <div class="box-body">
            <div class="panel panel-primary col-md-6 center-block" style="float: none;">
                <div class="panel-body">
                    <fieldset>
                        <legend>Classification</legend>
                        <div class="form-group">
                            <label for="Classification">Classification ID</label>
                            <input type="text" class="form-control" id="classificationId" placeholder="Classification ID">
                        </div>
                        <div class="form-group">
                            <label for="Designation"> Short Code</label>
                            <input type="text" class="form-control" id="classificationCode" placeholder="Classification Code">
                        </div>
                        <div class="form-group">
                            <label for="Category">Description</label>
                            <input type="text" class="form-control" id="classificationName" placeholder="Classification Name">
                        </div>

                        <div class="form-group">
                            <label for="">Status</label>
                            <select id="active_status" class="form-control" name="active_status">
                                <option value="true">Active</option>
                                <option value="false">InActive</option>
                            </select>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary" id="submitClassification" onclick="addcat();">Submit</button>
                            <button class="btn btn-sm btn-primary " id="updateClassification">
                                <i class="ace-icon fa fa-check"></i> Update
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>


    </div>

    <!-- /.box -->
    <!-- Default box -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">List All Classifications</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool show-form text-info bg-blue-gradient"><i class="fa fa-plus"></i>Add New</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box-body table-responsive no-padding">
                <table id="datatable" class="table table-bordered table-striped compact hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            @*<th>SL</th>*@
                            <th>Classification Id</th>
                            <th>Short Code</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                  <!--
                    <tbody>

                        @{
                            int sno = 0;
                        }
                        @{
                            if (ClassificationGridList.Count > 0)
                            {
                                for (int i = 1; i <= ClassificationGridList.Count; i++)
                                {

                                    <tr>
                                        <td>
                                            @{ sno++; }
                                            @sno
                                        </td>
                                        <td>
                                            @ClassificationGridList[i - 1].EXTERNAL_ID
                                            <input type="text" class="hidden" value="@ClassificationGridList[i - 1].EXTERNAL_ID" />
                                        </td>
                                        <td>
                                            @ClassificationGridList[i - 1].CODE
                                            <input type="text" class="hidden" value="@ClassificationGridList[i - 1].CODE" />
                                        </td>
                                        <td>
                                            @ClassificationGridList[i - 1].DESCRIPTION
                                            <input type="text" class="hidden" value="@ClassificationGridList[i - 1].DESCRIPTION" />
                                        </td>
                                        <td>
                                            @ClassificationGridList[i - 1].STATUS
                                            <input type="text" class="hidden" value="@ClassificationGridList[i - 1].STATUS" />
                                        </td>
                                        <td class="hidden">
                                            <input type="text" value="@i" />
                                        </td>
                                        <td class="text-center">
                                            <a href="#edit_form" data-toggle="modal" class="btn btn-sm btn-primary blue" id="edit" onclick="editClassification(@ClassificationGridList[i-1].CLASS_ID)">
                                                <span class="fa fa-pencil-square-o"></span> Edit
                                            </a>
                                            <a class="btn btn-sm btn-danger" onclick="removeCategory(@ClassificationGridList[i - 1].EXTERNAL_ID)">
                                                    <span class="fa fa-trash"></span> Delete
                                                </a>

                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {

                            }
                        }

                    </tbody> -->

                </table>

            </div>
            <!-- /.box-body -->
        </div>
        <div class="box-footer">
            Footer
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->
<script>


    $(document).ready(function () {

        //$("#organization").validate();
        //statusList();
        $('.select2').select2();

        //$('.addnew').hide();
        //$('.show-form').click(function () {
        //    $('.addnew').show();
        //    $('.show-form').hide();
        //    $('#updateClassification').hide();
        //});
        //$('.hide-form').click(function () {
        //    $('.addnew').hide();
        //    $('.show-form').show();

        //});
        //$('.hide-form').click(function () {
        //    $('.addnew').show();

        //});


        $('.addnew').hide();
        $('.show-form').click(function () {
            $('.addnew').show();
            $('.show-form').hide();
            $('#updateClassification').hide();
        });
        $('.hide-form').click(function () {
            $('.addnew').hide();
            $('.show-form').show();
        });

       

        $('#address-tab').attr('class', 'disabled');

        $('#address-tab').click(function (event) {
            if ($(this).hasClass('disabled')) {
                return false;
            }

        });
        //  debugger;
        getData();

    });

    function getData() {

        $('#datatable').DataTable({
            "searching": true,
            "paging":   true,
            "ordering": true,
            "info":     true,
            "language":
            {
                "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
            },
            "processing": true,
             "ajax": {  
                "url": "/Classification/List",  
                "type": "GET",  
                "datatype": "json"  
                },  
                "columns": [  
                { "data": "EXTERNAL_ID", "autoWidth": true },  
                { "data": "CODE", "autoWidth": true },  
                   { "data": "DESCRIPTION", "autoWidth": true },
                    { "data": "STATUS", "autoWidth": true },
                {
                    "data": "CLASS_ID", "width": "50px", "render": function (data) {
                        return '<button type="button" class="btn btn-primary" onclick="editClassification(' + data + ')">Edit</button>';
                        // return '<div class="btn-group"><button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button><ul class="dropdown-menu"><li><button type="button" class="btn btn-primary" onclick="getbyID(' + data + ')">DETAIL</button></li><li><button type="button" class="btn btn-info" onclick="getOldCategory(' + data + ')"> OLD CATEGORY</button></li><li><button type="button" class="btn btn-info" onclick="getbyInventoryInsert(' + data + ')">INVENTORY INSERT</button></li><li><button type="button" class="btn btn-warning" onclick="getbyInventoryView(' + data+')">INVENTORY VIEW</button></li></ul></div>';
                    }
                }
                ]  
                });

    }

    $("#submitClassification").click(function () {
        if ($("#classificationId").val() == "" || $("#classificationName").val() == "" || $("#classificationCode").val() == "") {

            toastr.error('Enter Data', 'Classification', {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            });
            return false;
        }

        if ($("#classificationName").val() != $("#classificationName").val().toUpperCase()) {

            toastr.error("Enter Your Classification Name Uppercase");
            return false;
        }

        if ($.trim($("#classificationId").val()).length > 5) {
            toastr.error('Enter Your Classification ID in 5 digit', 'Classification ID!', {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            });
            return false;
            //event.preventDefault();
        }

        if ($.trim($("#classificationCode").val()).length > 2) {
            toastr.error('Enter Your Classification Short Code in 2 digit', 'Classification Short Code!', {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            });
            return false;
            //event.preventDefault();
        }

        //var rowStatus = 1;
        var classificationId = $('#classificationId ').val();
        var classificationCode = $('#classificationCode ').val();
        var classificationName = $('#classificationName').val();
        var activeStatus = $('#active_status').val();


        if (classificationCode == '') {
            alert('Classification Code  field is empty !!');
            return false;
        }
        else if (classificationName == '') {
            alert('Classification Name  field is empty!!');
            return false;
        }
        else {
            //ajax passing data to controller
            $.ajax({

                type: "POST",
                url: '/Classification/Save',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                    success: function (response) {
                //alert("Result" + response);
                if (response != null) {


                    toastr.success(response, 'Classification', {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    });
                    $("#classificationId").val("");
                    $("#classificationCode").val("");
                    $("#classificationName").val("");
                    // $("#active_status").val(-1);
                    $('.addnew').show();
                    setTimeout(function () {
                        location.reload();
                    }, 5000);
                   // $('#datatable').load(document.URL + ' #datatable');

                }

            },
                data: JSON.stringify({
                    classificationId: classificationId,
                    classificationCode: classificationCode,
                    classificationName: classificationName,
                    activeStatus: activeStatus

                }),
                //success: function (result) {
                //    location.reload(true);



                //    $("h2").css({ color: result[1] });
                //},
                error: function () {
                    alert("error");
                }
            });
        }

    });

    //  function addcat() {
    //    event.preventDefault();
    //    //  alert("Hello");

    //    if ($("#classificationCode").val() == "" || $("#classificationName").val() == "" ) {

    //        toastr.error('Enter Data', 'Classification', {
    //            "closeButton": false,
    //            "debug": false,
    //            "newestOnTop": false,
    //            "progressBar": true,
    //            "positionClass": "toast-top-right",
    //            "preventDuplicates": false,
    //            "onclick": null,
    //            "showDuration": "300",
    //            "hideDuration": "1000",
    //            "timeOut": "5000",
    //            "extendedTimeOut": "1000",
    //            "showEasing": "swing",
    //            "hideEasing": "linear",
    //            "showMethod": "fadeIn",
    //            "hideMethod": "fadeOut"
    //        });
    //        return false;
    //    }

    //    if ($("#classificationName").val() != $("#classificationName").val().toUpperCase()) {

    //        toastr.error("Enter Your Classification Name Uppercase");
    //        return false;
    //    }

    //    if ($.trim($("#classificationCode").val()).length > 5) {
    //        toastr.error('Enter Your Classification ID in 5 digit', 'Category ID!', {
    //            "closeButton": false,
    //            "debug": false,
    //            "newestOnTop": false,
    //            "progressBar": true,
    //            "positionClass": "toast-top-right",
    //            "preventDuplicates": false,
    //            "onclick": null,
    //            "showDuration": "300",
    //            "hideDuration": "1000",
    //            "timeOut": "5000",
    //            "extendedTimeOut": "1000",
    //            "showEasing": "swing",
    //            "hideEasing": "linear",
    //            "showMethod": "fadeIn",
    //            "hideMethod": "fadeOut"
    //        });
    //        return false;
    //        //event.preventDefault();
    //    }



    //    var classObj = {
    //        code: $("#classificationCode").val(),

    //        dEsc: $("#classificationName").val(),

    //        sTatus: $("#active_status").val()
    //    };
    //    debugger;
    //    $.ajax({

    //        type: "POST",
    //        url: "/Classification/Save",
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        data: JSON.stringify(classObj),
    //        success: function (response) {
    //            //alert("Result" + response);
    //            if (response != null) {


    //                toastr.success(response, 'Classification', {
    //                    "closeButton": false,
    //                    "debug": false,
    //                    "newestOnTop": false,
    //                    "progressBar": true,
    //                    "positionClass": "toast-top-right",
    //                    "preventDuplicates": false,
    //                    "onclick": null,
    //                    "showDuration": "300",
    //                    "hideDuration": "1000",
    //                    "timeOut": "5000",
    //                    "extendedTimeOut": "1000",
    //                    "showEasing": "swing",
    //                    "hideEasing": "linear",
    //                    "showMethod": "fadeIn",
    //                    "hideMethod": "fadeOut"
    //                });
    //                $("#classificationCode").val("");
    //                $("#classificationName").val("");

    //                // $("#active_status").val(-1);
    //                $('.addnew').show();     
    //                setTimeout(function () {
    //                    location.reload();
    //                }, 5000);
    //               // $('#datatable').load(document.URL + ' #datatable');

    //            }

    //        },
    //        error: function (errormessage) {
    //            alert(errormessage.responseText);
    //        }
    //    });
    //}

    function editClassification(classId) {
        $("#classificationId").prop("disabled", true);
        $("#classificationCode").prop("disabled", true);
        $('.addnew').show();
        $('#updateClassification').show();
        $('#submitClassification').hide();

        $.ajax({
            type: "POST",
            url: "/Classification/Edit_it",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({
                //  obj: asd
                classId: classId

            }),
            success: function (response) {

                console.log(response);


                $("#classificationId").val(response.data.EXTERNAL_ID);
                $("#classificationName").val(response.data.DESCRIPTION);
                $("#classificationCode").val(response.data.CODE);

                if (response.data.STATUS == 'Active') {
                    $("#active_status").val('true');
                } else {
                    $("#active_status").val('false');
                }

                

                //alert(response.data.STATUS);

                $("#btnShowReport").hide();
                $("#btnUpdate").show();
                

            }
        })


    }


    $("#updateClassification").click(function UpdateData() {

        // var rowStatus = 2;
    
          if ($("#classificationName").val() != $("#classificationName").val().toUpperCase()) {

            toastr.error("Enter Your Classification Name Uppercase");
            return false;
        }
        var classificationId = $('#classificationId ').val();
        var classificationCode = $('#classificationCode ').val();
        var classificationName = $('#classificationName').val();
        var activeStatus = $('#active_status').val();


        if (classificationCode == '') {
            alert('Classification Code  field is empty !!');
            return false;
        }
        else if (classificationName == '') {
            alert('Classification Name  field is empty!!');
            return false;
        }
        else {
            //ajax passing data to controller
            $.ajax({
                url: '/Classification/updateClassification',
                type: 'POST',
                dataType: "json",
                traditional: true,
               success: function (response) {
                //alert("Result" + response);
                if (response != null) {


                    toastr.success(response, 'Classification', {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    });
                    $("#classificationId").val("");
                    $("#classificationCode").val("");
                    $("#classificationName").val("");
                    // $("#active_status").val(-1);
                    $('.addnew').show();
                    setTimeout(function () {
                        location.reload();
                    }, 5000);
                   // $('#datatable').load(document.URL + ' #datatable');

                }

            },
                data: {

                    classificationId: classificationId,
                    classificationCode: classificationCode,
                    classificationName: classificationName,
                    activeStatus: activeStatus



                },
                //success: function (response) {

                //    if (response == 'Success') {
                //        location.reload();
                //        //getData();
                //    }
                //},
                error: function () {
                    alert("error");
                }
            });
        }

    });
</script>